@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap');

body {
    height: 5%; 
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  'Kumbh Sans', sans-serif; 
    /* background-image: url("design/desktop-design.jpg"); */
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.top {
    position: absolute;
    bottom: 46vh; 
}

.bottom {
    position: absolute;
    top: 54vh; 
    left: 120vh; 
}

.group {
    position: absolute;
    top: 25vh;
    left: 79vh;
}

.container {
    width: 329px;
    height: 350px;
    background-color: white;
    border-radius: 14px; 
    /* opacity: 0.5; */
}

.proimg {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    position: absolute;
    top: -1vh;
}

.victor {
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    top: 12vh; 
    left: 17vh; 
}

.container p {
    font-size: 18px; 
}

.name {
    color: #121212;  
    font-weight: 800; 
    position: absolute;
    top: 29vh;
    left: 16vh; 
}

.age {
    position: absolute;
    top: 29vh;
    left: 32vh; 
    font-size: 16px;
}

.state {
    position: absolute;
    top: 34vh; 
    left: 22vh;
    font-size: 12px;
}

.age, .state {
    color: hsl(0, 0%, 59%);
    font-weight: 700;
}

.content2 {
    border-top: 1px solid #bfbfbf;
    padding: 18px;
    position: absolute;
    top: 77%; 
}

.number1u, .number2u, .number3u {
    font-size: 11px; 
    color: hsl(0, 0%, 59%);
    font-weight: 700;
}

.number1 {
    position: absolute;
    top: 8px;
    left: 56px;
}

.number1u {
    position: absolute;
    top: 36px;
    left: 46px;
}

.number2 {
    position: absolute;
    top: 8px;
    left: 145px;
}

.number2u {
    position: absolute;
    top: 36px;
    left: 151px;
}

.number3 {
    position: absolute;
    top: 8px;
    left: 242px;
}

.number3u {
    position: absolute;
    top: 36px;
    left: 242px;
    font-size: 11px;
}